# Django
*.pyc
__pycache__/
db.sqlite3
/media/
/static/

# Environment
.env
venv/
.venv/
env/

# Archives
*.tar.gz
*.tgz

# IDE
.idea/
.vscode/

# Local
ngrok*
.env
*.log
db.sqlite3
.env
*.pyc
__pycache__
db.sqlite3
*.log
